@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Protest Riot', sans-serif;
    overflow-x: hidden;
    height: 100vh;
}

.box {
    width: 100%;
    height: 100%;
    background-color:rgb(186, 243, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #79723a;
    font-size: 36px;
}
